version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DATABASE_URL=postgresql://oauth2api:oauth2api_secret@postgres:5432/oauth2api
      - REDIS_URL=redis://redis:6379
      # - JWT_SECRET=your-super-secret-jwt-key-minimum-32-chars
      - JWT_SECRET=7cd3e0dbd593d33658274cc53912bb62c73a9063f4cbb34c56be43b6cb422f387
      - JWT_EXPIRES_IN=2h
      # - ENCRYPTION_KEY=your-32-character-encryption-key!
      - ENCRYPTION_KEY=5b01df0d1bf30d2da4f2cdbb6d677064
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=admin123
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:3000/admin/auth/me"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./docker-data/redis:/data
    command: redis-server --appendonly yes

  postgres:
    image: postgres:16-alpine
    ports:
      - "15432:5432"
    environment:
      - POSTGRES_USER=oauth2api
      - POSTGRES_PASSWORD=oauth2api_secret
      - POSTGRES_DB=oauth2api
    restart: unless-stopped
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oauth2api"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    volumes:
      - ./docker-data/postgres:/var/lib/postgresql/data

networks:
  app-network:
    driver: bridge
